{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ static_url('css/index.css') }}" type="text/css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js" type="text/javascript"></script>
{% end %}

{% block bottom %}
<script type="text/javascript" src="{{ static_url('js/index.js') }}"></script>
{% end %}

{% block body %}
<div class="container">
    <p class="title-top">
        <h1 class="title">Dynamic Programming Simulator</h1>
    </p>
    <div id="app">
        <div class="columns">
            <div class="column is-three-fifths">
                <div v-for="(row, rowIndex) in grid">
                    <div v-for="(cell, columnIndex) in row" class="cell">
                        <div v-if="simulation"
                             @dblclick="clearAttribute(rowIndex, columnIndex)"
                             v-bind:class="['cell-content', getCellAttribute(rowIndex, columnIndex)]">
                            <span>[[value(rowIndex, columnIndex)]]</span>
                        </div>
                        <div v-else 
                            @click="selectCell(rowIndex, columnIndex)"
                            @dblclick="clearAttribute(rowIndex, columnIndex)"
                            v-bind:class="['cell-content', getCellAttribute(rowIndex, columnIndex)]">
                        </div>
                    </div>
                    <br style="clear:both"/>
                </div>
            </div>
            <div class="column">
                <h4 class="title is-4">Area (Row x Column)</h4>
                <div class="field has-addons">
                    <p class="control">
                        <span class="select">
                        <select v-model="row" type="number">
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                        </span>
                    </p>
                    <p class="control">
                        <span class="select">
                        <select v-model="column" type="number">
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                        </span>
                    </p>
                    <button class="button" style="margin-left: 30px" @click="draw">Draw</button>
                </div>
                <h4 class="title is-4">Cell Setting</h4>
                    <button class="button is-primary" @click="setTreasure">Treasure</button>
                    <button class="button is-danger" @click="setDanger">Danger</button>
                    <button class="button is-dark" @click="setBlock">Block</button>
                <br/>
                <h4 class="title is-4">Move Prob</h4>
                <div class="control">
                    <input class="input" type="number" step="0.1" placeholder="move probability" v-model="moveProb">
                </div>
                <hr/>
                <h4 class="title is-4" style="color: mediumseagreen">Simulation</h4>
                <button class="button is-primary is-outlined" @click="plan('value')">Value Iteration</button>
                <button class="button is-primary is-outlined" @click="plan('policy')">Policy Iteration</button>
                <hr/>
                <div v-if="hasLog">
                    <h4 class="title is-4" style="color: mediumseagreen">Result</h4>
                    <div >[[log.length]] iterations have done to converge.</div>
                    <div class="field has-addons">
                        <p class="control">
                        <a class="button" @click="play">
                            <span class="icon is-small">
                            <i class="fa fa-play"></i>
                            </span>
                            <span>Play</span>
                        </a>
                        </p>
                        <p class="control">
                        <a class="button" @click="stop">
                            <span class="icon is-small">
                            <i class="fa fa-stop"></i>
                            </span>
                            <span>End</span>
                        </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}
